INDEX PAGE FOR VOLUNTEER LOGS

<% @entrys.each do |entry| %>
  <%= entry.title %> <br />
  <%= entry.location %><br />
  <%= entry.date %> <br />
  <%= entry.description %> <br />
  <a href="/entrys/<%=entry.id%>/edit">Edit</a>
  <br />
  <br />
<% end %>