SHOW PAGE FOR A VOLUNTEER ENTRY

<p><%= @entrys.title %>
<p><%= @entrys.location %>
<p><%= @entrys.date %>
<p><%= @entrys.description %>


<% if @entry.user == @current_user %>
<form method="post" action="/entrys/<%=@entry.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Entry">
</form>

<a href="/entrys/<%=@entry.id%>/edit">Edit Entry </a>