
<h1><%="#{@user.username}" %>'s Volunteer Points</h1>

 <% if @user == current_user %>
 <h2> You have volunteered <%= "#{@user.entries.size}"%> time(s)</h2>
 <% else %>
 <h2>Entries logged: <%= "#{@user.entries.size}" %></h2>
<% end %>

 <% @user.trails.each do |entry| %>
 <a href="/entries/<%= trail.id %>"><h3><%= entry.name %></h3></a>
 <% end %>
 <% if @user == current_user %>
<h2> Ready to commit more volunteer entries?</h2>
