
<h1><%="#{@user.username}" %>'s Volunteer Points</h1>

 <% if @user == current_user %>
 <h2> You have logged <%= "#{@user.trails.size}"%> trip(s)</h2>
 <% else %>
 <h2>Trails logged: <%= "#{@user.trails.size}" %></h2>
<% end %>

 <% @user.trails.each do |trail| %>
 <a href="/trails/<%= trail.id %>"><h3><%= trail.name %></h3></a>
 <% end %>
 <% if @user == current_user %>
<h2> Ready to log more trails?</h2>
